<!-- (C) Copyright IBM Corporation 2017. Licensed under the Apache License, 
	Version 2.0 (the "License"); you may not use this file except in compliance 
	with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<server description="test server">
    <featureManager>
		<feature>webProfile-8.0</feature>
	</featureManager>


	<httpEndpoint httpPort="9080" httpsPort="9443"
		id="defaultHttpEndpoint" />

	<jdbcDriver id="H2Embedded" libraryRef="H2Lib"  javax.sql.datasource="org.h2.jdbcx.jdbcdatasource"/>
	<library id="H2Lib" filesetRef="H2Fileset" />
	<fileset id="H2Fileset" dir="${shared.resource.dir}"
		includes="h2*.jar" />

	<dataSource id="DefaultDataSource"

		jdbcDriverRef="H2Embedded">
		<properties password="" URL="jdbc:h2:mem:testdb" user="sa"/>

	</dataSource>
	<webApplication id="j2ee-vaadin8" location="j2ee-vaadin8.war"
		name="j2ee-vaadin8" />
</server>
